*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}
 

.Logo {
    width: 110px;
   margin-left: 50px;
    
}
header{
    display: flex;
    justify-content: space-between;
    background-color: darkred;
    color: goldenrod;
    align-items: center;
    padding: 10px;
}
nav ul{
    display: flex;
    gap:100px;
    list-style-type: none;
    font-size: x-large;
    padding-right: 20px;
}

nav a{
    color: goldenrod;
    text-decoration: none;
}

.Home {
    background-image: url(img/background_img.jpg);
    background-size: cover;
}
article h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(239, 182, 38);
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}
article h2{
   display: flex;
    justify-content: center;
    color: rgb(239, 182, 38);
    font-size: 50px;
    font-family:garamond;
    padding-top: 40px;
}
article h3{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 50px;
    font-family:garamond;
    padding-top: 350px;
}

.best_selling{
    display: flex;
    padding-bottom: 50px;
}

.Jasmine_green_tea img{
width: 67%;
}

.Jasmine_green_tea {
font-family: 'Times New Roman', Times, serif;
color: #ffffff;
font-size: xx-large;
text-align: center;
margin-left: auto;
}

.Puer_tea img{
width: 85%;
}

.Puer_tea {
font-family: 'Times New Roman', Times, serif;
color: #ffffff;
font-size: xx-large;
text-align: center;
justify-content: center;
margin-right: auto;
}

.footer {
    margin-left: auto;
    display: flex;
    background-color: darkred;
    color: gold;
    padding: 20px;
    font-size:large;
    justify-content: space-evenly;
}

.footer a {
    color: gold;
    font-size: x-large;
   background-color: darkred;
   padding: 10px;
   text-decoration: none;
}
.icons img{
    width: 60px;
    
  
}
.icons{
    display: flex;
    gap: 20px;
    
}

.product img{
    width: 450px; 
}
.product {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
    font-size: large;
    padding-left: auto;
    
}

.product p{
    padding: 5px 10px 0px 0px;
}

.product h4{
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product h3{
    font-size: larger;
}

.tea h1{
    text-align: center;
    padding-top: 150px;
    font-weight: lighter;
}

.tea p {
    font-size:x-large ;
    text-align: center;
    padding-bottom: 150px;
    padding-top: 10px;
    
}
main{
    background-color: rgb(255, 236, 200);
    
}

main{
    padding-bottom: 40px;
}


.founding_story {
    text-align: center;
    color: rgb(162, 121, 18);
    padding-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}
.founding_story h1{
    font-size: 50px;
    color: rgb(162, 121, 18);
}
.founding_story h2{
    font-size: 23px;
    color: black;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.text_founding h2{
    font-size: 23px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.harvest_tea img{
    display: flex;
    width: 600px;
    max-width: 1000px;
    margin-left: 30px;
    margin-top: auto;
    margin-right: 30px;
    
}

.harvest_tea{
    display: flex;
    max-width: 2000px;
    background-color: darkred;
    margin: auto;
    padding-bottom: 100px;
}
.harvest_tea h1{
    font-size: 35px;
    text-align: center;
    color: goldenrod;
}
.harvest_tea h2{
    flex-wrap: wrap;
    text-align: justify;
    font-size: 20px;
    color: rgb(234, 234, 224)
    
}
.text {
    margin-left: 50px;
    margin-right: 50px;
}
.collection img{
    display: flex;
    width: auto;
    max-width: 500px;
    margin-left: auto;
    margin-top: auto;
    margin-right: 30px;
}

.collection{
    display: flex;
    max-width: 1400px;
    margin-left: 30px;
    margin-right: auto;
    margin-bottom: auto;
}

.collection h1{
    color: rgb(162, 121, 18);
    font-size: 40px;
    text-align: center;
}
.collection h2{
    flex-wrap: wrap;
    text-align: justify;
    font-size: 23px;
    color: black;
}
.collection_text{
    margin-bottom: 100px;
    margin-right: 40px;
}

.Contact_us{
    background-image: url(img/contact_us_backgound.jpg);
    background-size: cover;
}

.vist_us h3{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 260px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}
.vist_us h4{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-family:garamond;
    padding-top: 15px;
    padding-bottom: 400px;
    text-align: center;
}

.find_us_text {
    font-size: 35px;
    justify-content: center;
    padding-left: 190px;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}
.findus{
    font-size: 30px;
    justify-content: center;
    display: flex;
    padding-left: 200px;
}
.findus img{
    padding: 10px;
}

.location_text p{
    font-size: 19px;
    padding: 10px;
}
.location_text h5{
    padding: 10px;
}


